<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>TO DO LIST</title>
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <button type="button">Home</button>
                <button type="button" onclick="night_day()">Night/Day</button>
            </nav>
            <section>
                <h1>TO DO LIST</h1>
            </section>
        </header>
        <main>
            <aside>
                <a href="">MY DAY</a>
                <a href="">IMPORTANT</a>
                <a href="">TASK</a>
            </aside>
            <section class="content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, a illo? Cum laborum aut, sunt dolor iusto repudiandae mollitia, blanditiis accusamus nesciunt, repellendus quas nobis vel impedit rerum nemo. Dolorem.
            </section>
        </main>
        <footer>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Debitis deserunt iusto soluta laudantium omnis? Laboriosam doloremque quam quis, esse atque dolor ipsum at aliquam doloribus ut dolore facere dicta ducimus!
        </footer>  
    </div>
</body>
<script src="../static/js/script.js"></script>
</html>